# Exploratory Data Analisys

Prior to start the project, a exploratory data analisys is performed over the data to make sure the right data types for each column of the datasets

In [1]:
import pandas as pd
import numpy as np

/home/juangrau/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [49]:
# From the dog licensing dataset
url = 'https://raw.githubusercontent.com/juangrau/project/master/datafiles/NYC_Dog_Licensing_Dataset_20240411.csv'
df = pd.read_csv(url, na_values=['', 'ERROR: #VALUE!'])

In [50]:
#df.info()
df.columns

Index(['AnimalName', 'AnimalGender', 'AnimalBirthYear', 'BreedName', 'ZipCode',
       'LicenseIssuedDate', 'LicenseExpiredDate', 'Extract Year'],
      dtype='object')

In order to handle a cleaner dataset, I decided to just drop rows that contains NAN values

In [65]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615362 entries, 0 to 616889
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AnimalName          615362 non-null  object
 1   AnimalGender        615362 non-null  object
 2   AnimalBirthYear     615362 non-null  float64
 3   BreedName           615362 non-null  object
 4   ZipCode             615362 non-null  float64
 5   LicenseIssuedDate   615362 non-null  object
 6   LicenseExpiredDate  615362 non-null  object
 7   Extract Year        615362 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 42.3+ MB

Then exported the result to have a cleaner file to be used on Mage for ingesting the data into GCP

In [67]:
df.to_csv('./NYC_Dog_Licensing_Dataset_20240411.csv')

In [95]:
rows = df[df['BreedName'].str.contains('Mix')].index.values

In [97]:
rows = list(rows)

In [99]:
type(rows)

list

Now lets load the second dataset

In [7]:
# From the dog licensing dataset
url2 = 'https://github.com/juangrau/project/raw/master/datafiles/akc-data-latest.csv'
akc_df = pd.read_csv(url2)

In [73]:
akc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   breed_name                   277 non-null    object
 1   description                  277 non-null    object
 2   temperament                  276 non-null    object
 3   popularity                   198 non-null    object
 4   min_height                   277 non-null    float64
 5   max_height                   277 non-null    float64
 6   min_weight                   275 non-null    float64
 7   max_weight                   275 non-null    float64
 8   min_expectancy               274 non-null    float64
 9   max_expectancy               274 non-null    float64
 10  group                        277 non-null    object
 11  grooming_frequency_value     270 non-null    float64
 12  grooming_frequency_category  270 non-null    object
 13  shedding_value               257 non-null    float64
 14  shedding_category            257 non-null    object
 15  energy_level_value           271 non-null    float64
 16  energy_level_category        271 non-null    object
 17  trainability_value           253 non-null    float64
 18  trainability_category        253 non-null    object
 19  demeanor_value               252 non-null    float64
 20  demeanor_category            252 non-null    object
dtypes: float64(11), object(10)
memory usage: 45.6+ KB

In [81]:
for column in akc_df.columns:
    print(column + ": ,")

breed_name: ,
description: ,
temperament: ,
popularity: ,
min_height: ,
max_height: ,
min_weight: ,
max_weight: ,
min_expectancy: ,
max_expectancy: ,
group: ,
grooming_frequency_value: ,
grooming_frequency_category: ,
shedding_value: ,
shedding_category: ,
energy_level_value: ,
energy_level_category: ,
trainability_value: ,
trainability_category: ,
demeanor_value: ,
demeanor_category: ,

I see no problem with the Dtypes on this dataframe so no changes a required for ingesting the data on Mage

In [9]:
akc_df['grooming_frequency_category'].unique()

array(['2-3 Times a Week Brushing', 'Daily Brushing',
       'Occasional Bath/Brush', 'Weekly Brushing', nan,
       'Specialty/Professional'], dtype=object)

In [10]:
# Lets find out what is the grooming_frequency_value for the 'Specialty/Professional' category
akc_df[akc_df['grooming_frequency_category']=='Specialty/Professional']['grooming_frequency_value'].head()

37     1.0
150    1.0
168    1.0
196    1.0
197    1.0
Name: grooming_frequency_value, dtype: float64

Based on this result all the dog breeds that requires professional grooming services are the ones that has a grooming frequency value of 1.0

These are the breeds that will get our interest during the project